<div class="top">
    <div class="top_wrapper">
        Ranks
        <div class="button_wrapper">
            <%= button_to "Log Out", logout_path, method: :delete %>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1>Home Page for Event: <%= @event.name %></h1>
    <p>Body</p>
</div>
